First I will mount my google drive to acces the csv files from one folder.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

I am going to import the data sources from the City of Tucson and merge them into one data frame using pandas.

In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns
from scipy import stats

# set theme for seaborn
sns.set_theme(style = 'whitegrid')


# set settings to default='warn' to avoid stopping execution of code
pd.options.mode.chained_assignment = None 

# grab datasets from website link
race_df = pd.read_csv('/content/gdrive/My Drive/Colab Datasets/Neighborhood_Race_Demographics.csv')
education_df = pd.read_csv('/content/gdrive/My Drive/Colab Datasets/Neighborhood_Educational_Attainment.csv')


# merge both dataframes together
merged_df = race_df.merge(education_df)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 0 to 158
Data columns (total 73 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   OBJECTID                       159 non-null    int64
 1   NAME                           159 non-null    object
 2   WARD                           159 non-null    int64
 3   DATASOURCE                     159 non-null    object
 4   ID                             159 non-null    int64
 5   sourceCountry                  159 non-null    object
 6   ENRICH_FID                     159 non-null    int64
 7   aggregationMethod              159 non-null    object
 8   populationToPolygonSizeRating  159 non-null    float64
 9   apportionmentConfidence        159 non-null    float64
 10  HasData                        159 non-null    int64
 11  WHITE_CY                       159 non-null    int64
 12  BLACK_CY                       159 non-null    int64
 13  AMERIND_CY                     159 non-null    int64
 14  ASIAN_CY                       159 non-null    int64
 15  PACIFIC_CY                     159 non-null    int64
 16  OTHRACE_CY                     159 non-null    int64
 17  RACE2UP_CY                     159 non-null    int64
 18  HISPPOP_CY                     159 non-null    int64
 19  MINORITYCY                     159 non-null    int64
 20  WHITE10                        159 non-null    int64
 21  BLACK10                        159 non-null    int64
 22  AMERIND10                      159 non-null    int64
 23  ASIAN10                        159 non-null    int64
 24  PACIFIC10                      159 non-null    int64
 25  OTHRACE10                      159 non-null    int64
 26  RACE2UP10                      159 non-null    int64
 27  HISPPOP10                      159 non-null    int64
 28  MINORITY10                     159 non-null    int64
 29  DIVINDX10                      159 non-null    float64
 30  HISPWHT_CY                     159 non-null    int64
 31  HISPBLK_CY                     159 non-null    int64
 32  HISPAI_CY                      159 non-null    int64
 33  HISPASN_CY                     159 non-null    int64
 34  HISPPI_CY                      159 non-null    int64
 35  HISPOTH_CY                     159 non-null    int64
 36  HISPMLT_CY                     159 non-null    int64
 37  HWHITE10                       159 non-null    int64
 38  HBLACK10                       159 non-null    int64
 39  HAMERIND10                     159 non-null    int64
 40  HASIAN10                       159 non-null    int64
 41  HPACIFIC10                     159 non-null    int64
 42  HOTHRACE10                     159 non-null    int64
 43  HRACE2UP10                     159 non-null    int64
 44  HRACEBAS10                     159 non-null    int64
 45  H1RACE10                       159 non-null    int64
 46  HADRBASE10                     159 non-null    int64
 47  HAD1RACE10                     159 non-null    int64
 48  U18RBASE10                     159 non-null    int64
 49  NONHISP_CY                     159 non-null    int64
 50  NHSPWHT_CY                     159 non-null    int64
 51  NHSPBLK_CY                     159 non-null    int64
 52  NHSPAI_CY                      159 non-null    int64
 53  NHSPASN_CY                     159 non-null    int64
 54  NHSPPI_CY                      159 non-null    int64
 55  NHSPOTH_CY                     159 non-null    int64
 56  NHSPMLT_CY                     159 non-null    int64
 57  RACEBASECY                     159 non-null    int64
 58  WHTNHISP10                     159 non-null    int64
 59  RACEBASE10                     159 non-null    int64
 60  POP1RACE10                     159 non-null    int64
 61  ADRACBAS10                     159 non-null    int64
 62  AD1RACE10                      159 non-null    int64
 63  DIVINDX_CY                     159 non-null    float64
 64  NOHS_CY                        159 non-null    int64
 65  SOMEHS_CY                      159 non-null    int64
 66  HSGRAD_CY                      159 non-null    int64
 67  GED_CY                         159 non-null    int64
 68  SMCOLL_CY                      159 non-null    int64
 69  ASSCDEG_CY                     159 non-null    int64
 70  BACHDEG_CY                     159 non-null    int64
 71  GRADDEG_CY                     159 non-null    int64
 72  EDUCBASECY                     159 non-null    int64
dtypes: float64(4), int64(65), object(4)
memory usage: 91.9+ KB

I am then going to rearrange the columns and pick only those that I am interested in reviewing.

In [ ]:
# create smaller cleaned up dataframe with only columns of interest (neighborhood info, race, education)
columns = list(merged_df.columns.values)
demog_df = merged_df[columns[1:3] + columns[11:12] + columns[18:19] + columns[12:17] + columns[64:72]]

demog_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 0 to 158
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NAME        159 non-null    object
 1   WARD        159 non-null    int64
 2   WHITE_CY    159 non-null    int64
 3   HISPPOP_CY  159 non-null    int64
 4   BLACK_CY    159 non-null    int64
 5   AMERIND_CY  159 non-null    int64
 6   ASIAN_CY    159 non-null    int64
 7   PACIFIC_CY  159 non-null    int64
 8   OTHRACE_CY  159 non-null    int64
 9   NOHS_CY     159 non-null    int64
 10  SOMEHS_CY   159 non-null    int64
 11  HSGRAD_CY   159 non-null    int64
 12  GED_CY      159 non-null    int64
 13  SMCOLL_CY   159 non-null    int64
 14  ASSCDEG_CY  159 non-null    int64
 15  BACHDEG_CY  159 non-null    int64
 16  GRADDEG_CY  159 non-null    int64
dtypes: int64(16), object(1)
memory usage: 22.4+ KB

Add additional columns:
Totals for population count, education response count
Combined totals for none and some HS; HS and GED; some, Associates, Bachelors, and Grad college

In [ ]:
# add all races for total population
demog_df['total_pop'] = demog_df['WHITE_CY'] + demog_df['BLACK_CY']\
 + demog_df['AMERIND_CY'] + demog_df['ASIAN_CY'] + demog_df['PACIFIC_CY'] \
 + demog_df['OTHRACE_CY'] + demog_df['HISPPOP_CY']

# add all responses for total education attendees
demog_df['total_ed'] = demog_df['ASSCDEG_CY'] + demog_df['BACHDEG_CY']\
 + demog_df['GED_CY'] + demog_df['GRADDEG_CY'] + demog_df['HSGRAD_CY']\
  + demog_df['NOHS_CY'] + demog_df['SMCOLL_CY'] + demog_df['SOMEHS_CY']

# add all non HS graduates
demog_df['less_HS'] = demog_df['NOHS_CY'] + demog_df['SOMEHS_CY']

# add all HS/GED
demog_df['HS_GED'] = demog_df['HSGRAD_CY'] + demog_df['GED_CY']

# add all post HS education
demog_df['post_HS'] = demog_df['GRADDEG_CY'] + demog_df['SMCOLL_CY'] \
+ demog_df['ASSCDEG_CY'] + demog_df['BACHDEG_CY']

Create second dataframe that is grouped by Wards for average comparison

In [ ]:
# group by wards and reset index count
ward_df = demog_df.groupby('WARD').sum()

# test dataframe
ward_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 1 to 6
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   WHITE_CY    6 non-null      int64
 1   HISPPOP_CY  6 non-null      int64
 2   BLACK_CY    6 non-null      int64
 3   AMERIND_CY  6 non-null      int64
 4   ASIAN_CY    6 non-null      int64
 5   PACIFIC_CY  6 non-null      int64
 6   OTHRACE_CY  6 non-null      int64
 7   NOHS_CY     6 non-null      int64
 8   SOMEHS_CY   6 non-null      int64
 9   HSGRAD_CY   6 non-null      int64
 10  GED_CY      6 non-null      int64
 11  SMCOLL_CY   6 non-null      int64
 12  ASSCDEG_CY  6 non-null      int64
 13  BACHDEG_CY  6 non-null      int64
 14  GRADDEG_CY  6 non-null      int64
 15  total_pop   6 non-null      int64
 16  total_ed    6 non-null      int64
 17  less_HS     6 non-null      int64
 18  HS_GED      6 non-null      int64
 19  post_HS     6 non-null      int64
dtypes: int64(20)
memory usage: 1008.0 bytes

Add columns that show the overall percentage of ethnicity from total population per neighborhood, and overall education percentage from total education responses per neighborhood

In [ ]:
# percentage white population
demog_df['white_%'] = (demog_df['WHITE_CY'] / demog_df['total_pop'])*100

# percentage hispanic population per neighborhood
demog_df['hisp_%'] = (demog_df['HISPPOP_CY'] / demog_df['total_pop'])*100

# percentage black population per neighborhood
demog_df['black_%'] = (demog_df['BLACK_CY'] / demog_df['total_pop'])*100

# percentage Tribal population per neighborhood
demog_df['tribal_%'] = (demog_df['AMERIND_CY'] / demog_df['total_pop'])*100

# percentage other population per neighborhood
demog_df['other_%'] = ((demog_df['OTHRACE_CY'] + demog_df['ASIAN_CY']\
                           + demog_df['PACIFIC_CY'])/ demog_df['total_pop'])*100


# create columns for percentage of education completion out of total population of ward
# and append to demog_df dataframe
demog_df['less_HS _%'] = demog_df['less_HS'] / demog_df['total_ed'] * 100
demog_df['HS _%'] = demog_df['HS_GED'] / demog_df['total_ed'] * 100
demog_df['post_HS _%'] = demog_df['post_HS'] / demog_df['total_ed'] * 100



# view clean dataframe
demog_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159 entries, 0 to 158
Data columns (total 30 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NAME        159 non-null    object
 1   WARD        159 non-null    int64
 2   WHITE_CY    159 non-null    int64
 3   HISPPOP_CY  159 non-null    int64
 4   BLACK_CY    159 non-null    int64
 5   AMERIND_CY  159 non-null    int64
 6   ASIAN_CY    159 non-null    int64
 7   PACIFIC_CY  159 non-null    int64
 8   OTHRACE_CY  159 non-null    int64
 9   NOHS_CY     159 non-null    int64
 10  SOMEHS_CY   159 non-null    int64
 11  HSGRAD_CY   159 non-null    int64
 12  GED_CY      159 non-null    int64
 13  SMCOLL_CY   159 non-null    int64
 14  ASSCDEG_CY  159 non-null    int64
 15  BACHDEG_CY  159 non-null    int64
 16  GRADDEG_CY  159 non-null    int64
 17  total_pop   159 non-null    int64
 18  total_ed    159 non-null    int64
 19  less_HS     159 non-null    int64
 20  HS_GED      159 non-null    int64
 21  post_HS     159 non-null    int64
 22  white_%     158 non-null    float64
 23  hisp_%      158 non-null    float64
 24  black_%     158 non-null    float64
 25  tribal_%    158 non-null    float64
 26  other_%     158 non-null    float64
 27  less_HS _%  158 non-null    float64
 28  HS _%       158 non-null    float64
 29  post_HS _%  158 non-null    float64
dtypes: float64(8), int64(21), object(1)
memory usage: 38.5+ KB

Add columns that show the overall percentage of ethnicity from total population per ward, and overall education percentage from total education responses per ward

In [ ]:
# percentage white population
ward_df['white_%'] = (ward_df['WHITE_CY'] / ward_df['total_pop'])*100

# percentage hispanic population per neighborhood
ward_df['hisp_%'] = (ward_df['HISPPOP_CY'] / ward_df['total_pop'])*100

# percentage black population per neighborhood
ward_df['black_%'] = (ward_df['BLACK_CY'] / ward_df['total_pop'])*100

# percentage Tribal population per neighborhood
ward_df['tribal_%'] = (ward_df['AMERIND_CY'] / ward_df['total_pop'])*100

# percentage other population per neighborhood
ward_df['other_%'] = ((ward_df['OTHRACE_CY'] + ward_df['ASIAN_CY']\
                           + ward_df['PACIFIC_CY'])/ ward_df['total_pop'])*100


# create columns for percentage of education completion out of total population of ward
# and append to ward_df dataframe
ward_df['less_HS _%'] = ward_df['less_HS'] / ward_df['total_ed'] * 100
ward_df['HS _%'] = ward_df['HS_GED'] / ward_df['total_ed'] * 100
ward_df['post_HS _%'] = ward_df['post_HS'] / ward_df['total_ed'] * 100


# view ward_df
ward_df.head()

      WHITE_CY  HISPPOP_CY  BLACK_CY  ...  less_HS _%      HS _%  post_HS _%
WARD                                  ...
1        47204       62685      2622  ...   24.469280  28.821570   46.709150
2        34522        9832      2173  ...    6.115641  19.770818   74.113541
3        42168       26779      4192  ...   15.418545  19.961918   64.619538
4        50413       20999      4516  ...    8.111849  24.584243   67.303908
5        35117       49855      3572  ...   26.673204  30.220747   43.106049

[5 rows x 28 columns]

Start exploring the descriptive statistics of dataframes for ward - for accurate count of averages. demmog_df does not describe the percentages accurately

In [ ]:

ward_df.describe()

           WHITE_CY    HISPPOP_CY  ...      HS _%  post_HS _%
count      6.000000      6.000000  ...   6.000000    6.000000
mean   42923.666667  31314.833333  ...  23.457516   61.751454
std     6833.674639  20496.978884  ...   5.262329   13.655330
min    34522.000000   9832.000000  ...  17.385801   43.106049
25%    36879.750000  18554.000000  ...  19.818593   51.186747
50%    44686.000000  23889.000000  ...  22.273081   65.961723
75%    47889.500000  44086.000000  ...  27.762238   72.411133
max    50413.000000  62685.000000  ...  30.220747   74.656541

[8 rows x 28 columns]

From the descriptive statistics, you can see that the mean for undereducation (HS/ged completion) is 23.4. This is the value I will use to split the demog_df into higher and lower educated

In [ ]:
# create dataframes for hypothesis that 
neighborhood_educated = demog_df.iloc[(demog_df['HS _%'] > 23.4).values]
neighborhood_less_HS = demog_df.iloc[(demog_df['HS _%'] < 23.4).values]

With the demog_df split into more and less educated dataframes, I can do a t-test to see if there is a correlation between education and wards and education and ethnicity.

In [ ]:
# initalize column counter for first column of ethnicity
col_num = 2

# iterate through columns 2-8
while col_num < 9:
  # get name of column
  col_name = demog_df.columns[col_num]
  
  # get st. dev. and p value for column of both dataframes
  tw, pw = stats.ttest_ind(neighborhood_educated[col_name], neighborhood_less_HS[col_name])
  
  # increase counter
  col_num += 1

  print("The standard deviation for {} is {} with a p-value of {} ".format(col_name, tw, pw))

The standard deviation for WHITE_CY is 1.839288031013867 with a p-value of 0.06777381945362408
The standard deviation for HISPPOP_CY is 5.256340382856412 with a p-value of 4.763253916875568e-07
The standard deviation for BLACK_CY is 2.8292944057364675 with a p-value of 0.00527863655331421
The standard deviation for AMERIND_CY is 5.178505019400797 with a p-value of 6.810521871352755e-07
The standard deviation for ASIAN_CY is -1.058859703586984 with a p-value of 0.2913004514425794
The standard deviation for PACIFIC_CY is 0.8658814207043 with a p-value of 0.3878849050956896
The standard deviation for OTHRACE_CY is 5.649494293949966 with a p-value of 7.439111698916372e-08

p-value analysis summary

From the descriptive statistics, you can see that the mean white population percentage per ward is 49.6. This will be the value I use to split the demog_df dataframe into white majority vs white minority for my hypothesis based on ethnicity.

In [ ]:
# create dataframes for hypothesis that race makes a difference in education completion
wards_white_maj = demog_df.iloc[(demog_df['white_%'] > 49.6).values]
wards_white_min = demog_df.iloc[(demog_df['white_%'] < 49.6).values]

In [ ]:
# initalize column counter at first education column
col_nums = 19

# iterate through columns 19-21
while col_nums < 22:
  # get name of column
  col_name = demog_df.columns[col_nums]
  
  # get st. dev. and p value for column of both dataframes
  tw, pw = stats.ttest_ind(wards_white_maj[col_name], wards_white_min[col_name])
  
  # increase counter
  col_nums += 1

  print("The standard deviation for {} is {} with a p-value of {} ".format(col_name, tw, pw))

The standard deviation for less_HS is -5.56850376515166 with a p-value of 1.0979286853436549e-07
The standard deviation for HS_GED is -2.869558951742566 with a p-value of 0.004680746169284997
The standard deviation for post_HS is 1.5043265747986083 with a p-value of 0.13451919975775684